@model ClassLibrary11.Fichas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fichas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cupo_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cupo_ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programas.nombre_programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programas.nombre_programa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
