@model ClassLibrary11.Fichas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fichas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cupo_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cupo_ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_ficha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programas.nombre_programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programas.nombre_programa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ficha_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
