@model IEnumerable<ClassLibrary1.Instructores>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Instructores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <style>
        body {
            font-family: 'Work Sans';
            font-size: 22px;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #39A900;
            padding: 10px 20px;
            border-bottom: 8px solid #ffffff;
            text-align: center;
            color: #ffffff;
            font-weight: bolder;
        }

        h1 {
            font-weight: bolder;
        }

        nav {
            background-color: #39A900;
            padding: 15px 0;
            text-align: center;
            border-top: 1px solid #ffffff; /* Línea que separa la cabecera del menú */
        }

            nav a {
                color: #ffffff;
                text-decoration: none;
                padding: 10px 20px;
                font-weight: bold;
            }

                nav a:hover {
                    background-color: #53bd1d;
                    border-radius: 10px;
                    text-decoration: none;
                    color: white;
                }

        .container {
            margin: 20px auto;
            max-width: 1200px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            background-color: #DADADA;
            border: 8px solid white;
            border-radius: 18px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn-group {
        }

            .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 5px;
            }

            .btn-group > .btn:not(:first-child) {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 5px;
            }

        .btn-primary {
            color: white;
            background-color: #00324D;
            border-color: #16253500;
        }

        .action-button {
            background-color: #4CAF50; /* Verde */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

            .action-button:hover {
                background-color: limegreen;
            }
    </style>
</head>
<body>

    <header>
        <h1>Gestionar Instructores</h1>
    </header>

    <nav>
        <a href="https://localhost:44304/lovi/Index">Inicio</a>
        <a href="https://localhost:44304/Programas/Index">Gestionar Programas</a>
        <a href="https://localhost:44304/Fichas/Index">Gestionar fichas</a>
        <a href="https://localhost:44304/Aprendices/Index">Gestionar Aprendices</a>

        <a href="#">Cerrar Sesión</a>
    </nav>

    <div class="container">
        <table class="table">
            <tr>
                <th>NOMBRE INSTRUCTOR</th>
                <th>NÚMERO</th>
                <th>TIPO DE INSTRUCTOR</th>
                <th>ACCIONES</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nombre </td>
                    <td>@item.numero</td>
                    <td>@item.tipo_instructor</td>

                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.instructor_id }, new { @class = "btn btn-primary mr-2" })
                            @Html.ActionLink("Details", "Details", new { id = item.instructor_id }, new { @class = "btn btn-info mr-2" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.instructor_id }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>


</body>

</html>
